@charset "UTF-8";
/* CSS Document */

ul {
	list-style-type: none;
	margin-left: -35px;
}
li {

	background-color: #EDE4D6;	
	display: inline;
	padding: 14px 0px;
	
}

a:link {
	padding: 14px 16px;
	text-decoration: none;
	color: black;
	line-height: 3em;
	
}

a:visited {
	color: white;
	
}

a:hover {
	background-color: #D8CBB2;
	width: 150px;
}

a:active {
	color: green;
}
	
td {
	padding: 5px 20px;

}
	
th {
	text-align: left;
	padding: 5px 10px;	
}

span {
	font-style: italic;
	font-weight: 200;
}

tr:nth-child(2n) {
	background-color: #EDE4D6;
}